<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    />
    <title>ANANDCorps|docs</title>
    <link rel="stylesheet" href="./src/style.css" />
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo" style="font-size: 40px">ANAND Corps.</h1>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="features.html">Skills</a></li>
            <li><a href="docs.html">Docs</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <section class="docs-head py-3">
      <div class="container grid">
        <div>
          <h1 class="xl">Docs</h1>
          <p class="lead">Here's The Documents of ANANDCorps.</p>
        </div>
        <img src="img/ANAND Corps..png" alt="" />
      </div>
    </section>
    <!--About Anand Corps -->
    <section class="docs-main my-4">
      <div class="container grid">
        <div class="card bg-light p-3">
          <h3 style="padding: 20px" class="my-2">Essentials</h3>
          <nav>
            <ul>
              <li><a href="" style="padding: 30px">Introduction</a></li>
            </ul>
            <ul>
              <li><a href="" style="padding: 30px">Our Sentiments</a></li>
            </ul>
            <ul>
              <li><a href="" style="padding: 30px">Our lifestyle</a></li>
            </ul>
          </nav>
        </div>
        <div class="card">
          <h2>Introduction</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Asperiores, ullam consequuntur! Eius dicta cumque amet numquam nulla
            obcaecati ad voluptatibus.
          </p>
          <div class="alet alert">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias
            velit, obcaecati ducimus tempore unde dicta excepturi neque dolore
            suscipit mollitia iusto harum aspernatur facilis sequi! Sunt magni
            itaque ratione quibusdam aliquam, iste quo ducimus officia non
            blanditiis ad fuga libero modi officiis harum, aliquid laboriosam
            quasi? Cupiditate eius aspernatur dolore!
          </div>
          <h2>Our Sentiments</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
            ab, minima labore alias pariatur praesentium explicabo mollitia
            ratione ex ipsum?
          </p>
          <a href="" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </section>
    <br>
    <!--Works Display-->
    <h1 class="text-center">My Work</h1>
    <br>
    <div id="app">
        <div class="card-columns ">
            <div class="card" v-for='card in cards'>
                <div class="card-title text-center text-lg">{{ card.title }}</div>
                <div class="card-body" >
                    <img :src="`./img/${card.img}`" alt="" class="mx-auto d-block" style="width: fit-content; height: 223px;" v-if="!videoMethod(card)">
                    <video :src="`./img/${card.VideoPlaybackQuality}`" controls loop autoplay style="width: fit-content" class="mx-auto d-block" alt="" v-else></video>

                </div>
            </div>
        </div>
    </div>

   
    <!--Footer-->
    <footer
      class="footer bg-dark py-5"
      style="background-color: rgba(31, 24, 24, 0.788)"
    >
      <div class="container grid grid-3">
        <div>
          <h1 style="color: white">LETS GROW TOGETHER</h1>
          <p style="color: white">ANAND &copy; Copyright &copy; 2030</p>
        </div>
        <nav>
          <ul>
            <li><a href="index.html" style="color: white">Home</a></li>
          </ul>
          <ul>
            <li><a href="features.html" style="color: white">Projects</a></li>
          </ul>
          <ul>
            <li><a href="docs.html" style="color: white">Join Us</a></li>
          </ul>
        </nav>
        <div class="social">
          <a href=""><img src="icons/linkedin.png" alt="" /></a>
          <a href=""><img src="icons/instagram.png" alt="" /></a>
          <a href=""><img src="icons/youtube.png" alt="" /></a>
          <a href=""><img src="icons/twitter.png" alt="" /></a>
        </div>
      </div>
    </footer>
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

    <script>
      $("#year").text(new Date().getFullYear());
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./src/app.js"></script>
  </body>
</html>
