<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    />

    <link rel="stylesheet" href="./src/style.css" />
    <title>Anand Corps| Home</title>
  </head>
  <body>
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">ANAND Corps.</h1>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="features.html">My Skills</a></li>
            <li><a href="docs.html">Docs</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <section class="showcase">
      <div class="container grid">
        <div class="showcase-text">
          <h1>Why Join ANAND Corps.</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
            consequatur cum. Sint suscipit libero illum, illo eligendi id non
            aspernatur officia, alias doloribus cumque quam nemo reprehenderit,
            fugiat animi. Corrupti iusto vero quos ab veritatis, tempore
            adipisci recusandae aperiam consequatur quasi possimus libero sequi
            labore ullam, explicabo alias quis natus!
          </p>
          <a href="features.html">Read More</a>
        </div>
        <div class="showcase-form card">
          <h2>Tell me What you got</h2>
          <div id="form-vue">
            <form @submit.prevent="onSubmit">
              <div class="form-contract">
                <input
                  type="text"
                  name="name"
                  placeholder="Name"
                  v-model="name"
                  required
                />
              </div>
              <div class="form-contract">
                <input
                  type="text"
                  name="skills"
                  placeholder="Skills"
                  v-model="skills"
                  required
                />
              </div>
              <div class="form-contract">
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  v-model="email"
                  required
                />
              </div>
              <br />
              <br />
              <input type="submit" value="Send" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="stats">
      <div class="container">
        <br /><br />
        <h3 class="stats-heading text-center my-1">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, dolorem
          debitis? Impedit earum minus nesciunt ratione pariatur, aliquid
          voluptatibus facere?
        </h3>

        <div class="grid grid-3 text-center my-4">
          <div>
            <i class="fas fa-server fa-3x"></i>
            <h3>0</h3>
            <p class="text-secondary">Deployments</p>
          </div>
          <div>
            <i class="fas fa-upload fa-3x"></i>
            <h3>Active</h3>
            <p class="text-secondary">Status</p>
          </div>
          <div>
            <i class="fas fa-project-diagram fa-3x"></i>
            <h3>2</h3>
            <p class="text-secondary">Projects</p>
          </div>
        </div>
      </div>
    </section>
    <section class="cli">
      <div class="card-deck px-5">
        <img src="images/cli.png" alt="" />
        <div class="card">
          <h3 class="text-center">Communication is the king</h3>
        </div>
        <div class="card">
          <h3 class="text-center">Watch out, More projects coming soon!</h3>
        </div>
      </div>
    </section>
    <br />
    <br />
    <br />
    <!--Services-->
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <h1
          class="
            sm:text-3xl
            text-2xl
            font-medium
            title-font
            text-center text-gray-900
            mb-20
          "
        >
          Services I Provide <br class="hidden sm:block" />In Anand Corps
        </h1>
      </div>

      <div class="card-deck px-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Web Designing</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
              quas.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Graphic Designing</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
              quas.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Financial Analyst</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
              quas.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--About Me-->
    <section id="info" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <h3>Rahul Anand</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
              eveniet blanditiis incidunt iusto corrupti illum cum laudantium ex
              sequi amet.
            </p>
          </div>
          <div class="col-md-6">
            <img src="./img/img1.jpg" alt="" class="img-fluid rounded-circle" />
          </div>
        </div>
      </div>
    </section>
    <br />
    <br />

    <!--Testimonials-->
    <section class="text-gray-700 body-font">
      <div
        class="container px-5 py-24 mx-auto overflow-hidden"
        id="testimonials"
      >
        <h1
          class="
            text-3xl
            font-medium
            title-font
            text-gray-900
            mb-12
            text-center
          "
        >
          Testimonials
        </h1>
        <div class="slider">
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="block w-5 h-5 text-gray-400 mb-4"
                  viewBox="0 0 975.036 975.036"
                >
                  <path
                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                  ></path>
                </svg>
                <p class="leading-relaxed mb-6">
                  Synth chartreuse iPhone lomo cray raw denim brunch everyday
                  carry neutra before they sold out fixie 90's microdosing.
                  Tacos pinterest fanny pack venmo, post-ironic heirloom
                  try-hard pabst authentic iceland.
                </p>
                <a class="inline-flex items-center">
                  <img
                    alt="testimonial"
                    src="https://dummyimage.com/106x106"
                    class="
                      w-12
                      h-12
                      rounded-full
                      flex-shrink-0
                      object-cover object-center
                    "
                  />
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900"
                      >Holden Caulfield</span
                    >
                    <span class="text-gray-500 text-sm">UI DEVELOPER</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="block w-5 h-5 text-gray-400 mb-4"
                  viewBox="0 0 975.036 975.036"
                >
                  <path
                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                  ></path>
                </svg>
                <p class="leading-relaxed mb-6">
                  Synth chartreuse iPhone lomo cray raw denim brunch everyday
                  carry neutra before they sold out fixie 90's microdosing.
                  Tacos pinterest fanny pack venmo, post-ironic heirloom
                  try-hard pabst authentic iceland.
                </p>
                <a class="inline-flex items-center">
                  <img
                    alt="testimonial"
                    src="https://dummyimage.com/107x107"
                    class="
                      w-12
                      h-12
                      rounded-full
                      flex-shrink-0
                      object-cover object-center
                    "
                  />
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900"
                      >Alper Kamu</span
                    >
                    <span class="text-gray-500 text-sm">DESIGNER</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br />
    <br />
    <!--Footer-->
    <footer
      class="footer bg-dark py-5"
      style="background-color: rgba(31, 24, 24, 0.788)"
    >
      <div class="container grid grid-3">
        <div>
          <h1 style="color: white">LETS GROW TOGETHER</h1>
          <p style="color: white">
            ANAND &copy; Copyright &copy; <span id="year"></span>
          </p>
        </div>
        <nav>
          <ul>
            <li><a href="index.html" style="color: white">Home</a></li>
          </ul>
          <ul>
            <li><a href="features.html" style="color: white">Projects</a></li>
          </ul>
          <ul>
            <li><a href="docs.html" style="color: white">Join Us</a></li>
          </ul>
        </nav>
        <div class="social">
          <a href=""><img src="icons/linkedin.png" alt="" /></a>
          <a href=""><img src="icons/instagram.png" alt="" /></a>
          <a href=""><img src="icons/youtube.png" alt="" /></a>
          <a href=""><img src="icons/twitter.png" alt="" /></a>
        </div>
      </div>
    </footer>

    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./src/index.js"></script>

    <script>
      //To get year
      $('#year').text(new Date().getFullYear());
    </script>
  </body>
</html>

<!--Technologies  Used
-Bootstrap
-VueJS(For Showcasing Work Display/projects)
-Vanilla Javascript(to get the copyrght year )
-Tailwind CSS (for testimonials Section)
-HTML5
-CSS3
-Jquery  
-->
